<div class="row">
    <h3 class="underline">CONTACT.</h3>
    <span>If you want to get in contact - please feel free to do so</span>
    <br/><br/>
    <span><a href="mailto:info.hindenberg@gmail.com">info.hindenberg@gmail.com</a></span> <br/><br/>
    <a href="http://www.xing.com/profile/Paul_Hindenberg" target="_blank" rel="me"><img src="http://www.xing.com/img/buttons/1_de_btn.gif" width="85" height="23" alt="Paul Hindenberg"></a>
    <a href="http://de.linkedin.com/pub/paul-hindenberg/19/b18/626">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Paul Hindenberg's profile on LinkedIn">
    </a>

</div>