<div class="row">
    <div class="col-lg-5 col-md-5" style="padding-top: 0.6em; text-align: left;">
        <h1>{{me.name}}.</h1>
        <h2>
            <span>{{me.jobTitle}}</span>
            <br/>
            <a href="mailto:{{me.email}}">{{me.email}}</a>
        </h2>
    </div>
    <div class="col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6">
        <img src="{{me.imgUrl}}" class="bigImg" alt="me" />
    </div>
</div>

<div class="row" style="padding-top: 1.5em;">
    <div class="col-lg-7 col-md-7">
        <p>
            Hello.
            <br> I'm Paul and I welcome you to my site.
            <br> I currently live between Cologne and Bonn where I'm employed at Schönhofer Sales and Engineering GmbH.
            <br> Here, I'm working mostly as an Software Engineer and Solution Architect.
            <br> Before my current employment I was working as a ( not only ) SAP developer as well as technical Consultant on
            various projects. I made my master's degree in Information Management and Consulting (MSc.) in Ludwigshafen am
            Rhein, University of Applied Science, based in Germany. As Freelancer, I was using my knowledge in different
            projects, mostly as Application Developer or/and Consultant.
            <p style="font-size: 13px;">I mostly use this Website to keep track and to represent my doings (to find interesting projects {..or job offers}).[Last
                Update: February 2018]</p>
            <!--Hello,<br>
            I'm Paul and currently finishing my studies in Information Management and Consulting (MSc.) in Ludwigshafen am Rhein, University of Applied Science, based in Germany.
            Next to finishing my degree, which should be done around October 2014, I'm working as freelancer. There I use my knowledge in different projects, mostly as Application Developer and/or Consultant.<br><br>
            You might got here through LinkedIn or Xing or you even met me in person (e.g. on the Connecticum 2014). In any case, feel welcome and free to have a look around. </p>
            <br>
            <p style="font-size: 13px;">I mostly use this Website to keep track and to represent my doings (to find interesting projects or Job Offers).[Last Update: Mai 2014]</p>-->
    </div>
    <div class="col-lg-5 col-md-5">
        <ul class="skillUl">
            <li ng-repeat="skill in me.skills">{{skill.text}}</li>
        </ul>
    </div>

</div>
<div class="row" style="background: url(app/img/line.png) 25px -16px no-repeat; margin-top: 2em; font-weight: normal; padding-top: 2em;">
    <div class="col-lg-4 col-md-4">
        <h3>About Me</h3>
        <p>In this section, you will find the stations in life I went through.
            <br> School, military, university, time in a foreign country - etc.
            <br> It takes the function of my CV.</p>
        <a ng-href="#/about">
            <span class="read_more">Read more...</span>
        </a>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3>Work & Education</h3>
        <p>This section shows all the major projects I was involved in, my Skill Set, as well as the courses I visited throughout
            my studies.</p>
        <a ng-href="#/work">
            <span class="read_more">Read more ...</span>
        </a>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3>Contact me</h3>

        <p>contact.hindenberg@gmail.com</p>
        <p style="color:#000; text-decoration:underline; margin-top:10px;">
            <a style="color:#000;" href="http://www.xing.com/profile/Paul_Hindenberg">XING</a>
        </p>
        <p style="color:#000; text-decoration:underline; margin-top:10px;">
            <a style="color:#000;" href="https://www.linkedin.com/in/paul-hindenberg-626b1819/">LinkedIn</a>
        </p>
    </div>
</div>