<div class="row">
    <h3 class="underline">PROJECTS.</h3>
    <div class="row" ng-repeat="p in projects" style="margin-left: auto; margin-right: auto;">
        <div class="col-lg-3">
            <span style="line-height: 30px;">{{p.date}}</span>
        </div>
        <div class="col-lg-9 spacer-bot-15" >
            <span class="aboutHeadline">{{p.name}}</span><br/>
            <span>Employer: {{p.employer}}</span><br/>
            <span ng-show="p.client !== ''">Client: {{p.client}}<br/></span><br/>
            <span ng-bind-html="p.text"></span>
            <div class="row" style="padding-top: 8px;">
                <div class="col-lg-6">
                    <span class="aboutHeadline">Used Languages</span>
                    <ul class="workUl" style="padding-top: 5px;">
                        <li ng-repeat="lang in p.languages">{{lang.name}}</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <span class="aboutHeadline">Used Technologies</span>
                    <ul class="workUl" style="padding-top: 5px;">
                        <li ng-repeat="tech in p.techs">{{tech.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <h3 class="underline">COURSES.</h3>
    <h3><span>Hochschule Ludwigshafen am Rhein</span></h3>
    <div class="row" ng-repeat="lu in courses.hslu" style="margin-left: auto; margin-right: auto;">
        <div class="col-lg-3">
            <span style="line-height: 30px;">{{lu.sem}}</span>
        </div>
        <div class="col-lg-9 spacer-bot-15" >
            <ul class="workUl">
                <li ng-repeat="c in lu.courses" ng-bind-html="c"></li>
            </ul>
        </div>
    </div>
    <h3><span>Fachhochschule Brandenburg</span></h3>
    <div class="row" ng-repeat="fhb in courses.fhb" style="margin-left: auto; margin-right: auto;">
        <div class="col-lg-3">
            <span style="line-height: 30px;">{{fhb.sem}}</span>
        </div>
        <div class="col-lg-9 spacer-bot-15" >
            <ul class="workUl">
                <li ng-repeat="c in fhb.courses" ng-bind-html="c"></li>
            </ul>
        </div>
    </div>
</div>